/* Impostazioni generali per dispositivi mobili */
@media screen and (max-width: 768px) {
  * {
    max-width: 100%;
    overflow-x: hidden;
  }
  /* Navbar */
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50px;
  }
  .logo h3 {
    font-size: 30px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
  }

  /* Contenuto principale */
  .content .description {
    position: absolute;
    top: 250px;
    left: 120px;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
  }

  .description h1 {
    font-size: 35px;
  }
  .description p {
    font-size: 20px;
  }

  .City {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 10px;
    justify-content: flex-start;
    width: 100%;
  }

  .card {
    flex: 0 0 calc(50% - 10px);
    height: 200px;
    background-size: cover;
    background-position: center;
    scroll-snap-align: center;
  }

  .City::-webkit-scrollbar {
    display: none;
  }
}

.button {
  position: absolute;
  top: 550px;
  left: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button hr {
  display: none;
}

/* Sezione City */
.city h1 {
  font-size: 24px;
  text-align: center;
}

.city-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-card-one,
.place-card-two,
.place-card-three,
.place-card-four,
.place-card-five,
.place-card-six,
.place-card-seven,
.place-card-height,
.place-card-nine,
.place-card-ten,
.place-card-eleven,
.place-card-twelve,
.place-card-thirteen,
.place-card-fourteen,
.place-card-fifteen,
.place-card-sixteen,
.place-card-seventeen,
.place-card-eighteen,
.place-card-nineteen,
.place-card-twenty,
.place-card-twentyone,
.place-card-twentytwo,
.place-card-twentythree,
.place-card-twentyfour,
.place-card-twentyfive {
  width: 90%;

  height: auto;
  margin-bottom: 15px;
}

/* Footer */
.footer-container {
  flex-direction: column;
  text-align: center;
}

.footer-links ul {
  padding: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social h4 {
  display: none;
}
