body {
  background-image: url(asset/Dubai.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  padding: 15px 50px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav p,
.nav i {
  cursor: pointer;
}
