@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");

body {
  background-image: url(asset/Roma.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  padding: 15px 50px;
  box-sizing: border-box;
  font-family: "Big Shoulders";
  font-size: 25px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Big Shoulders";
  font-size: 25px;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Big Shoulders";
  font-size: 25px;
}

.nav p,
.nav i {
  cursor: pointer;
}

.description {
  color: white;
  position: absolute;
  top: 280px;
  left: 100px;
}

.description h1 {
  font-family: "Big Shoulders";
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.description p {
  font-family: "Big Shoulders", sans-serif;
  font-size: 25px;
}

button {
  margin-left: 20px;
  padding: 10px;
  color: white;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  font-family: "Big Shoulders";
  font-size: 15px;
  border-radius: 10%;
}

.City {
  display: flex;
  position: absolute;
  top: 340px;
  left: 550px;
  font-family: "Big Shoulders";
  font-size: 20px;
}

.card-one {
  border: 1px solid white;
  border-radius: 5%;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background-image: url("./asset/Roma.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: white;
  position: relative;
  margin-right: 20px;
}

.card-two {
  border: 1px solid white;
  border-radius: 5%;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background-image: url("./asset/Parigi.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: white;
  position: relative;
  margin-right: 20px;
}
.card-three {
  border: 1px solid white;
  border-radius: 5%;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background-image: url("./asset/Egitto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: white;
  position: relative;
  margin-right: 20px;
}
.card-four {
  border: 1px solid white;
  border-radius: 5%;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background-image: url("./asset/New\ York.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: white;
  position: relative;
  margin-right: 20px;
}
.card-five {
  border: 1px solid white;
  border-radius: 5%;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background-image: url("./asset/Dubai.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: white;
  position: relative;
  margin-right: 20px;
}

.card-content {
  padding: 5px;
}

.button {
  position: absolute;
  top: 650px;
  left: 540px;
}

.button button {
  border-radius: 50%;
  padding: 20px;
}

.line {
  position: absolute;
  top: 650px;
  left: 590px;
}

hr {
  width: 80%;
  border: 1px solid white;
}
