@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:wght@100..900&display=swap");

body {
  background-image: url("./asset/Roma.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  transition: background 0.5s ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  width: 100%;
  padding: 15px 50px;
  box-sizing: border-box;
  font-family: "Big Shoulders";
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav p,
.nav i {
  cursor: pointer;
}

.description {
  color: white;
  position: absolute;
  top: 280px;
  left: 100px;
}

.description h1 {
  font-family: "Big Shoulders";
  font-size: 100px;
  margin: 0;
}

.description p {
  font-size: 25px;
}

.City {
  display: flex;
  position: absolute;
  top: 340px;
  left: 550px;
  font-family: "Big Shoulders";
  font-size: 20px;
}

.card {
  border: 1px solid white;
  border-radius: 5%;
  width: 150px;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: white;
  position: relative;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 650px;
  left: 550px;
  gap: 10px;
}

.button button {
  border-radius: 100%;
  padding: 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.button hr {
  flex-grow: 1;
  height: 1px;
  background-color: white;
  border: none;
  width: 600px;
  margin-left: 130px;
}

.button .number {
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: white;
  font-weight: bold;
}
